[submodule "tesim"]
	path = tesim
	url = https://www.github.com/usnistgov/tesim
[submodule "tesim_nivis_setup"]
	path = tesim_nivis_setup
	url = https://www.github.com/usnistgov/tesim_nivis_setup
[submodule "tesim_ads_comms"]
	path = tesim_ads_comms
	url = https://www.github.com/usnistgov/tesim_ads_comms
[submodule "SimpleFactory"]
	path = SimpleFactory
	url = https://www.github.com/usnistgov/SimpleFactory
[submodule "IndustrialWirelessAnalysis"]
	path = IndustrialWirelessAnalysis
	url = https://www.github.com/usnistgov/IndustrialWirelessAnalysis
[submodule "URLLC"]
	path = URLLC
	url = https://www.github.com/usnistgov/URLLC
[submodule "tesim_omnetpp"]
	path = tesim_omnetpp
	url = https://github.com/usnistgov/tesim_omnetpp.git
[submodule "rf_emulator_scripts"]
	path = rf_emulator_scripts
	url = https://github.com/usnistgov/rf_emulator_scripts.git
[submodule "ISMS"]
	path = ISMS
	url = https://github.com/usnistgov/Industrial-SMS.git
